/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 25%;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    width: 25%;
    height: 50%;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
  }


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .notification {
    background-color:red;
    color:white;
  }

  .hidden {
    display: none;
  }

  .Yellowcenter  {
    background-color: black;
    color: yellow;
  }

  .Purplebackground {
    background-color: yellow;
    color: purple;
  }
  #LowerRight {
    position: relative;
  }
  #LowerRight .lowerright {
    position: absolute;
    bottom: 0;
    right: 0;
  }